@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../node_modules/bootstrap/scss/bootstrap-utilities.scss";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Definición de variables
$letra-primaria: "Roboto Slab", serif;
$letra-secundaria: "Play", sans-serif;
$letra-varios: 'Open Sans', sans-serif;

html{
    body{
        header {
            background-image: url('/images/index/header-bg.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            min-height: 12vh;
            align-items: center;
            position: fixed;
            min-width: 100%;
            top: 0;
            left: 0;
            z-index: 4;
            transition: top 0.25s;
        
            .menu{
                font-family: "Roboto Slab", serif;
                position: absolute;
                min-width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
        
                .logo{
                    width: clamp(10rem, 3vw + 2rem, 3.5vw);
                    height: auto;
                }
        
                #menu{
                    display: none;
                }
        
                #menu:checked + #menu-icon + #navbar{
                    display: block;
                }
        
                label{
                    cursor: pointer;
                    display: none;
                    font-size: 5vh;
                    padding-right: 4vh;
                }
        
                .navbarSty{
                    justify-content: center;
        
                    ul li {
                        float: left;
                        padding: 10px;
                        position: relative;
                    }
        
                    ul li a{
                        font-size: 20px;
                        padding: 1vh;
                        color: black;
                        display: block;
                        font-weight: bold;
                        text-decoration: none;
                        /* transition: color 0.3s ease-out; */
                    }
        
                    ul li a:hover{
                        color: rgb(84, 63, 63);
                        cursor: pointer;
                        user-select: none;
                    }
        
                    .navbar-menu {
                        padding: 0;
                        margin: 0;
                        list-style: none;
        
                        .nav-item{
                            outline: none;
        
                            .nav-link:focus{
                                color: rgb(84, 63, 63);   
                            }
        
                            .dropdown-menu{
                                background-color: rgba(255, 255, 255, 1); 
        
                                .dropdown-item{
                                    background-color: rgba(255, 255, 255, 0);
                                    
                                }
                            }
        
                        }
                    }
                }
        
                .icons{
                    display: flex;
        
                    .icon-link{
                        cursor:default;
                        text-decoration: none;
        
                    }
        
                    i{
                        font-size: 2vw;
                        color: black;
                        margin: 0.5vw;
                        transition: color 0.3s ease-out;
                        cursor: pointer;
                    }
        
                    i:hover{
                        color: rgb(84, 63, 63);
                    }
                }
            }
        }
        //Termina el header
        //Empieza el contenido
        
        .content{
            margin: 0 auto;
            width: 50%;

            .card{
                .row{
                    .col-md-4{
                        display: flex;
                        align-items: center;
                    }
                    .col-md-8{
                        .card-body{
                            .dateCard{
                                display: flex;
                                justify-content: end;
                            }
                        }
                    }
                }
            }
        }
    }
}